.table > thead > tr > th,.table > tbody > tr > th,.table > tfoot > tr > th{
		text-align: center !important;
		width: 100%;
	}
	.table > tbody > tr > th{
		font-size:18px
	}
	.table p {
	  border-left: 1px dashed #ddd;
	  margin-bottom: 0;
	}
	.widget.widget-padding-sm, .widget.widget-item-icon {
		padding: 5px;
	}
	.widget {
	  margin: 0;
	  min-height:0;
	}
	.widget.widget-danger {
	  background:#eee;
	}
	.widget .widget-big-int {
	  font-size: 22px;
	  font-weight: 300;
	  line-height: normal;
	  color: #000;
	}
	
	.table td:first-child {
	     width: 33% !important; 
	}
@media print{
	#main-lay button{display: none;}
}